# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
src/generated/resources/.cache
src/generated/resources/.cache/*
src\generated\resources\.cache
.github\modernize


# local only
.vscode
tools
/*.jar
/1.21.1.json
/almanac.png
gradle/localmaven
legacy-1.12.2
